
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_bootstrapStyles %>
  <title>Shrink It!</title>
</head>

<body >
<div class="container">
<% include partials/_header %>

<% if (!userId) { %>

<% } else { %>
  <div class="panel panel-primary">
    <div class="panel-body">
    <h4>Your Collection</h4>
    </div>
    <table class="table">
    <% userId.shorturls.forEach(function(urlid) { %>
    <tr>
      <td><%= urls[urlid] %> </td>
      <td><a href="/u/<%= urlid %>" target="_new">http://<%= urlid %></a></td>
      <td><a href="/urls/<%= urlid %>" role="button">Edit</a></td>
      <td>
        <form method="POST" action="/urls/<%= urlid %>?_method=DELETE">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </table>
  </div>
</div>
<% } %>

</body>

</html
