
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_bootstrapStyles %>
  <title>Tiny App</title>
</head>

<body>
<% include partials/_header %>

<% if (user_id === undefined) { %>
  <h4>Please login or register to see your shortened URLs.</h4>
<% } else { %>

  <ul>
  <% user_id.shorturls.forEach(function(urlid) { %>
    <li>
    <%= urlid %> --> <a href="<%= urls[urlid] %>" target="_new"><%= urls[urlid] %></a>
    <a href="/urls/<%= urlid %>">Edit</a>
    <form method="POST" action="/urls/<%= urlid %>/delete">
      <button type="submit">Delete</button>
    </form>
    </li>
  <% }); %>
  </ul>
<% } %>



</body>

</html
