
<% if (stats[shortURL] === undefined) { showVisits = 0; showUniqueVisits = 0; arrayDetails = [] %>
<% } else { showVisits = stats[shortURL].visits; showUniqueVisits = stats[shortURL].uniquevisits; arrayDetails = stats[shortURL].details} %>

<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_bootstrapStyles %>
  <title>Tiny App</title>
</head>

<body>
<div class="container">
<% include partials/_header %>

  <div class="panel panel-primary">
    <div class="panel-body">
        <form class="form-horizontal" action="/urls/<%= shortURL %>?_method=PUT" method="POST">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="longURL">Modify and submit</label>
            <div class="col-sm-3">
              <input class="form-control"  type="text" name="longURL" value="<%= urls[shortURL] %>" >
            </div>
            <div class="col-sm-3">
              <button class="btn btn-success" type="submit">Update</button>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-info" type="button">
                Visitors <span class="badge"><%= showVisits %> ( <%= showUniqueVisits %> )</span>
              </button>
            </div>
          </div>

          <div class="panel panel-info">
            <table class="table">
            <tr>
              <td>Visitor</td>
              <td>Date</td>
            </tr>
            <% arrayDetails.forEach(function(e) { %>
            <tr>
              <td><%= e.visitorName %></td>
              <td><%= e.timestamp %></td>
            </tr>
            <% }); %>
          </table>
          </div>

        </form>
    </div>

  </div>

</div>
</body>

</html>